$def with (form,result)
<html>
    <head>
        <LINK REL=StyleSheet HREF="static/css/estilo2.css" media="screen" TYPE="text/css" >
        
        <title> cinemaclub </title>
    </head>
    <body>
        <h1 class="tr1"> cinemaclub </h1>

$if not form.valid: <p class="error">Try again:</p>
$:form.render()

<center>      <table class="tabla">
          
    <th class="tr1"> Pelicula</th>
    <th class="tr1" > Formato</th>
     <th class="tr1"> Cliente</th>
    <th class="tr1"> Tiempo</th>
     <th class="tr1"> Total</th>
     $for row in result:
      <tr>
          <td class="tr1">$row.pelicula</td> <td class="tr1">$row.formato</td> 
          <td class="tr1">$row.cliente</td> 
          <td class="tr1">$row.tiempo </td> 
          <td class="tr1">$row.total </td>
      </tr>
      <center>
</table>
<form name="main" method="post"> 
<input  type="submit" value="RENTAR" />  
</form>


 </body>
      
    
</html>
